<h1>Upload Files</h1>
<%= form_tag uploads_path, enctype: 'multipart/form-data', :class => 'form-inline' do %>
  <%= file_field_tag :file, :class =>"input-append" %>
  <br>
  <%= submit_tag 'Upload file', :class => 'btn btn-primary' %>
<% end %>

<h1>Current Files</h1>
<table class="table table-striped">
  <% if @uploads %>  
  <thead>
    <tr>
      <th>File Name</th>
    </tr>
  </thead>
  <% @uploads.each do |upload| %>
    <tr>
      <td width="400px"><%= upload.key.split('/')[1] %></td>
      <td><%= button_to "Download", downloads_path(:name => upload.key), method: :post, :class => 'btn btn-info' %></td>
    </tr>
  <% end %>
  <% else %>
  No file.
  <% end %>
</table> 
